<div class="category">
  <ul class="category__list">
    <li class="category__item">
      <a class="category__item-link" href="catalog.html">
        <svg class="category__svg">
          <use xlink:href="img/sprite.svg#kitchen"></use>
        </svg>
        <span class="category__item-title">Кухни</span>
      </a>
      <ul class="category__sublist">
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Модульные кухни</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Барная зона</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Кухонные уголки</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Обеденная зона</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Столешницы</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Стеновые панели</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Мойки, сушилки, смесители для кухни</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Дополнительная фурнитура</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Бытовая техника</a></li>
      </ul>
    </li>
    <li class="category__item">
      <a class="category__item-link" href="catalog.html">
        <svg class="category__svg">
          <use xlink:href="img/sprite.svg#bedroom"></use>
        </svg>
        <span class="category__item-title">Спальни</span>
      </a>
      <ul class="category__sublist">
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Модульные кухни</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Барная зона</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Кухонные уголки</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Обеденная зона</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Столешницы</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Стеновые панели</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Мойки, сушилки, смесители для кухни</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Дополнительная фурнитура</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Бытовая техника</a></li>
      </ul>
    </li>
    <li class="category__item">
      <a class="category__item-link" href="catalog.html">
        <svg class="category__svg">
          <use xlink:href="img/sprite.svg#livingroom"></use>
        </svg>
        <span class="category__item-title">Гостинные</span>
      </a>
      <ul class="category__sublist">
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Модульные кухни</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Барная зона</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Кухонные уголки</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Обеденная зона</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Столешницы</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Стеновые панели</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Мойки, сушилки, смесители для кухни</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Дополнительная фурнитура</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Бытовая техника</a></li>
      </ul>
    </li>
    <li class="category__item">
      <a class="category__item-link" href="catalog.html">
        <svg class="category__svg">
          <use xlink:href="img/sprite.svg#closet"></use>
        </svg>
        <span class="category__item-title">Прихожие</span>
      </a>
      <ul class="category__sublist">
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Модульные кухни</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Барная зона</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Кухонные уголки</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Обеденная зона</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Столешницы</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Стеновые панели</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Мойки, сушилки, смесители для кухни</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Дополнительная фурнитура</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Бытовая техника</a></li>
      </ul>
    </li>
    <li class="category__item">
      <a class="category__item-link" href="catalog.html">
        <svg class="category__svg">
          <use xlink:href="img/sprite.svg#office"></use>
        </svg>
        <span class="category__item-title">Офисная мебель</span>
      </a>
      <ul class="category__sublist">
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Модульные кухни</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Барная зона</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Кухонные уголки</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Обеденная зона</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Столешницы</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Стеновые панели</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Мойки, сушилки, смесители для кухни</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Дополнительная фурнитура</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Бытовая техника</a></li>
      </ul>
    </li>
    <li class="category__item">
      <a class="category__item-link" href="catalog.html">
        <svg class="category__svg">
          <use xlink:href="img/sprite.svg#childrensroom"></use>
        </svg>
        <span class="category__item-title">Детская</span>
      </a>
      <ul class="category__sublist">
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Модульные кухни</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Барная зона</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Кухонные уголки</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Обеденная зона</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Столешницы</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Стеновые панели</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Мойки, сушилки, смесители для кухни</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Дополнительная фурнитура</a></li>
        <li class="category__subitem"><a class="category__sublink" href="catalog.html">Бытовая техника</a></li>
      </ul>
    </li>
    <li class="category__item category__item_stock"><a class="category__stock-link" href="#">Акция</a></li>
    <li class="category__item category__item_etc">
      <span>&#8226;</span>
      <span>&#8226;</span>
      <span>&#8226;</span>
      <ul class="category__sublist">
        <li class="category__subitem"><a class="category__sublink" href="#">Новинки</a></li>
        <li class="category__subitem"><a class="category__sublink" href="#">Шкафы</a></li>
        <li class="category__subitem"><a class="category__sublink" href="#">Матрасы</a></li>
        <li class="category__subitem"><a class="category__sublink" href="#">Мягкая мебель</a></li>
      </ul>
    </li>
  </ul>
  <ul class="category__list_mobile">
    <li class="category__list-item_mobile">
      <a class="category__list-link_mobile" href="#">
        <svg>
          <use xlink:href="img/sprite.svg#stock"></use>
        </svg>
      </a>
      <span class="category__list-title_mobile">Акция</span>
    </li>
    <li class="category__list-item_mobile">
      <a class="category__list-link_mobile" href="#">
        <svg>
          <use xlink:href="img/sprite.svg#new"></use>
        </svg>
      </a>
      <span class="category__list-title_mobile">Новинки</span>
    </li>
    <li class="category__list-item_mobile">
      <a class="category__list-link_mobile" href="#">
        <svg>
          <use xlink:href="img/sprite.svg#kitchen"></use>
        </svg>
      </a>
      <span class="category__list-title_mobile">Кухни</span>
    </li>
    <li class="category__list-item_mobile">
      <a class="category__list-link_mobile" href="#">
        <svg>
          <use xlink:href="img/sprite.svg#bedroom"></use>
        </svg>
      </a>
      <span class="category__list-title_mobile">Спальни</span>
    </li>
    <li class="category__list-item_mobile">
      <a class="category__list-link_mobile" href="#">
        <svg>
          <use xlink:href="img/sprite.svg#livingroom"></use>
        </svg>
      </a>
      <span class="category__list-title_mobile">Гостинные</span>
    </li>
    <li class="category__list-item_mobile">
      <a class="category__list-link_mobile" href="#">
        <svg>
          <use xlink:href="img/sprite.svg#closet"></use>
        </svg>
      </a>
      <span class="category__list-title_mobile">Прихожие</span>
    </li>
    <li class="category__list-item_mobile">
      <a class="category__list-link_mobile" href="#">
        <svg>
          <use xlink:href="img/sprite.svg#office"></use>
        </svg>
      </a>
      <span class="category__list-title_mobile">Офисная мебель</span>
    </li>
    <li class="category__list-item_mobile">
      <a class="category__list-link_mobile" href="#">
        <svg>
          <use xlink:href="img/sprite.svg#childrensroom"></use>
        </svg>
      </a>
      <span class="category__list-title_mobile">Детская</span>
    </li>
    <li class="category__list-item_mobile">
      <a class="category__list-link_mobile" href="#">
        <svg>
          <use xlink:href="img/sprite.svg#mattress"></use>
        </svg>
      </a>
      <span class="category__list-title_mobile">Матрассы</span>
    </li>
    <li class="category__list-item_mobile">
      <a class="category__list-link_mobile" href="#">
        <svg>
          <use xlink:href="img/sprite.svg#armchair"></use>
        </svg>
      </a>
      <span class="category__list-title_mobile">Мягкая мебель</span>
    </li>
    <li class="category__list-item_mobile">
      <a class="category__list-link_mobile" href="#">
        <svg>
          <use xlink:href="img/sprite.svg#cupboard"></use>
        </svg>
      </a>
      <span class="category__list-title_mobile">Шкафы</span>
    </li>
  </ul>
</div>
