<footer class="footer">
  <div class="footer__container container">
    <div class="footer__row">
      <div class="footer__column">
        <span class="footer__nav-title">Навигация</span>
        <nav class="footer__nav">
          <ul class="footer__list">
            <li class="footer__item"><a class="footer__link" href="#">Кухни</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Прихожие</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Шкафы</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Спальни</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Офисная мебель</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Матрасы</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Гостинные</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Детская</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Мягкая мебель</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer__column">
        <span class="footer__logo">LM</span>
        <address class="footer__address">г. Анапа, Анапское шоссе, 30 Ж/К Черное море</address>
      </div>
    </div>
    <div class="footer__row">
      <div class="footer__actions">
        <a class="footer__action footer__action_red" href="#">Акция</a>
        <a class="footer__action" href="#">Новинки</a>
      </div>
      <div class="footer__contacts">
        <a class="footer__contact footer__contact_phone" href="tel:89648999119">8 (964) 89 99 119</a>
        <a class="footer__contact footer__contact_instagram" href="#">Instagram</a>
        <a class="footer__contact footer__contact_email" href="mailto:mebel_loft_anapa@mail.ru">mebel_loft_anapa@mail.ru</a>
      </div>
    </div>
  </div>
</footer>
