<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <nav class="header__menu" data-da=".header__bottom-inner, 992, 0">
          <div class="header__menu-top">
            <span class="header__menu-title">Меню</span>
            <button class="header__menu-button-close" type="button"><img src="./img/icons/menu-close.svg" alt="Иконка закрытия меню" /></button>
          </div>
          <ul class="header__menu-list">
            <li class="header__menu-item"><a class="header__menu-link _icon-home" href="index.html">Главная</a></li>
            <li class="header__menu-item"><a class="header__menu-link _icon-about" href="#">О нас</a></li>
            <li class="header__menu-item"><a class="header__menu-link _icon-contacts" href="#">Контакты</a></li>
          </ul>
          <span class="header__category-title">Категории</span>
          <ul class="header__category-list">
            <li class="header__category-item">
              <a class="header__category-link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#kitchen"></use>
                </svg>
                <span>Кухни</span>
              </a>
            </li>
            <li class="header__category-item">
              <a class="header__category-link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#bedroom"></use>
                </svg>
                <span>Спальни</span>
              </a>
            </li>
            <li class="header__category-item">
              <a class="header__category-link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#livingroom"></use>
                </svg>
                <span>Гостинные</span>
              </a>
            </li>
            <li class="header__category-item">
              <a class="header__category-link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#closet"></use>
                </svg>
                <span>Прихожие</span>
              </a>
            </li>
            <li class="header__category-item">
              <a class="header__category-link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                <span>Офисная мебель</span>
              </a>
            </li>
            <li class="header__category-item">
              <a class="header__category-link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#childrensroom"></use>
                </svg>
                <span>Детская</span>
              </a>
            </li>
            <li class="header__category-item _icon-stock">
              <a class="header__category-link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#stock"></use>
                </svg>
                <span>Акция</span>
              </a>
            </li>
            <li class="header__category-item _icon-new">
              <a class="header__category-link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#new"></use>
                </svg>
                <span>Новинки</span>
              </a>
            </li>
            <li class="header__category-item">
              <a class="header__category-link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#mattress"></use>
                </svg>
                <span>Матрасы</span>
              </a>
            </li>
            <li class="header__category-item">
              <a class="header__category-link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#armchair"></use>
                </svg>
                <span>Мягкая мебель</span>
              </a>
            </li>
            <li class="header__category-item">
              <a class="header__category-link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#cupboard"></use>
                </svg>
                <span>Шкафы</span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="header__info-links" data-da=".header__bottom-inner, 992, 3">
          <a class="header__info-link _icon-phone" href="tel:89648999119">8 (964) 89 99 119</a>
          <a class="header__info-link _icon-delivery" href="#">Доставка</a>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__bottom-inner">
        <button class="menu-burger" type="button">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <a class="header__logo" href="index.html">
          <img src="./img/icons/logo.svg" loading="lazy" alt="Логотип LOFT Мебель" />
        </a>
        <form class="header__search-form">
          <button class="header__form-button" type="submit"><img src="./img/icons/search.svg" alt="Иконка поиска по магазину" /></button>
          <input class="header__form-input" type="search" placeholder="Поиск" />
        </form>
        <div class="header__actions">
          <a class="header__action-link" href="#"><img src="./img/icons/wishlist.svg" alt="Иконка избранных товаров" /></a>
          <a class="header__action-link _in-cart" href="cart.html"
            ><span class="header__cart-qty"></span><img src="./img/icons/cart.svg" alt="Иконка корзины"
          /></a>
          <a class="header__action-link" href="#"><img src="./img/icons/user.svg" alt="Иконка входа в личный кабинет" /></a>
        </div>
      </div>
    </div>
  </div>
</header>
